        body {
          background: #FBAC18;
          font: #FED864;
          height: 100%;
          width: 100%;
          text-align: center;
          font-size: 25px;
          font: Sigmar+One;
          font-family: 'Sigmar One', cursive;
        }

        .wrapper {
          width: 100%;
          margin: auto;
          color: #D4536E;
        }

        #getready {
          border: #CE118C solid 8px;
        }

        #chores_list {
          display: inline-block;
          text-align: center;
          width: 100%;
          height: 250px%;
          float: right;
          border: 3px solid #FF3B77;
          font-size: 20px;
        }

        .chores_images {
          margin: 20px;
          width: 150px;
          height: 150px;
          border: 4px solid #FF3B77;
        }

        .floating-grid {
          /*float: left;*/
          /*display: block;*/
          margin-left: auto;
          margin-right: auto;
          margin: 10px;
          text-align: center;
          /*border: 7px solid #FF3B77;*/
        }

        .floating-box {
          display: inline-block;
          border: 4px solid #FF3B77;
          width: 150px;
          height: 150px;
          background-color: #fff;
          margin: 20px;
          text-align: middle;
          padding-top: 50px;
        }

        #todo_checkbox_brush_teeth {
          color: #FF3B77;
          font: 20px #FF3B77;
        }

        #todo_checkbox_get_dressed {
          color: #FBAC18;
          font: 20px #FED864;
        }

        #todo_checkbox_pick_up_toys {
          color: #FF3B77;
          font: 20px #FF3B77;
        }

        #todo_checkbox_read {
          color: #FBAC18;
          font: 20px #FED864;
        }

        #todo_checkbox_put_clothes_in_hamper {
          color: #FF3B77;
          font: 20px #FF3B77;
        }

        #todo_checkbox_say_prayers {
          color: #FBAC18;
          font: 20px #FED864;
        }

        p {
          color: #FBAC18;
          background-color: #fff;
        }

        h1 {
          font: #FED864;
          font-size: 30px;
          background-color: #fff;
        }

        h2 {
          background-color: #fff;
          font-size: 25px;
          width: 100%;
          font: #FED864;
          border: #99001A solid 23px;
        }

        .wrapper:after {
          content: "";
          display: table;
          clear: both;
        }

        p {
          padding: 3px;
          font-size: 18px;
          color: #FF3B77;
          float: center;
        }

        #alphabet {
          margin: 25 px auto;
          padding: 20;
          max-width: 900px;
        }

        #alphabet:after {
          content: "";
          display: table;
          clear: both;
        }

        #alphabet li {
          float: left;
          margin: 0 30px 30px 0;
          list-style: none;
          width: 45px;
          height: 40px;
          background-color: #FF3B77;
          color: #FED864;
          cursor: pointer;
          border-radius: 5px;
          border: solid 3px #ED4599;
          font-family: 'Sigmar One', cursive;


        }

        #alphabet li:hover {
          background: #fff;
          border: dashed 1px #99001A; ;
          color: #FF3B77;
         /* width: 60px;
          height: 60px;*/
          /*font-size: 30px;*/
        }

        #my-word {
          margin: 0;
          display: block;
          padding: 0;
          display: block;
        }

        .active {
          opacity: 0.4;
          filter: alpha(opacity=40);
        }

        #mylives {
          font-size: 1.6em;
          text-align: center;
          display: block;
        }

        #answer_box {
          float: center;
          margin-bottom: 30px;
          border: solid 3px #FF3B77;
          color: #FF3B77;
        }

        #small_answer_box_1 {
          width: 110px;
          height: 40px;
          border: solid 2px #FBAC18;
          font-size: 20px;
          text-align: center;
        }

        #small_answer_box_2 {
          width: 110px;
          height: 40px;
          border: solid 2px #ED4599;
          font-size: 20px;
          text-align: center;

        }

        #small_answer_box_3{
          width: 110px;
          height: 40px;
          border: solid 2px #FBAC18;
          font-size: 20px;
          text-align: center;
        }

          #small_answer_box_4 {
          width: 110px;
          height: 40px;
          border: solid 2px #ED4599;
          font-size: 20px;
          text-align: center;

        }

        #small_answer_box_5{
          width: 110px;
          height: 40px;
          border: solid 2px #FBAC18;
          font-size: 20px;
          text-align: center;
        }

        #small_answer_box_6 {
          width: 110px;
          height: 40px;
          border: solid 2px #ED4599;
          font-size: 20px;
          text-align: center;
        }

        .click_here_container {
          /*float: right;*/
          margin: 0 0 0 0px;
          color: #FF3B77;
        }

         .click_here {
          float: right;
          margin: 0 10px 10px 0;
          list-style: none;
          width: 100px;
          height: 100px;
          background-color: #FF3B77;
          color: #FED864;
          cursor: pointer;
          border-radius: 5px;
          border: solid 3px #ED4599;
          font: Sunshiney;
          list-style-type: none;
        }

        .click_here_1_container{
          background-color: #FF3B77;
          font-size: 15px;
          font-family: Sunshiney;
          padding: 0px;
       /*   margin-left: auto;
          margin-right: auto;*/
          /*margin: 0 30 30 0px;*/

        }

        .floating-box-click-here{
          display: inline-block;
          border: 4px solid #FBAC18;
          width: 60px;
          height: 60px;
          background-color: #FF3B77;
          margin: 71px;
          text-align: middle;
          font-family: 'Sigmar One', cursive, #FBAC18;
          font-size: 14px;
          color: #FBAC18;
          padding: 0px;
        }

        .click_here_1 {
          width: 40px;
          height: 40px;
        }

         .click_here_2 {
          width: 40px;
          height: 40px;
        }
         .click_here_3 {
          width: 40px;
          height: 40px;
        }
         .click_here_4 {
          width: 40px;
          height: 40px;
        }
         .click_here_5 {
          width: 40px;
          height: 40px;
        }
         .click_here_6 {
          width: 40px;
          height: 40px;
        }

        .directions li {
            color: #FED864;
            font-size: 15px;
            background-color: #fff;
            list-style-type: none;
        }

        .container {
          width: 1000px;
          height: 100px;
          padding-top: 20px;                                                 ;
        }

        #hold {
          width: 110px;
          height: 40px;
          border: solid 2px #ED4599;
          font-size: 20px;
        }