h1 {
  font-family: 'Henny Penny', cursive;
  font-weight: 500;
  background-color: #F2E638;
  text-align: center;
  color: #B460BF;

};

p {
  background-color: #F2E638;
}

.underwear_pics {
  color: #B460BF;

}

