body, div, a {
  padding:0;
  margin:0;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
  background-color: #85E7FF;
  width: 310px;
  height: 460px;
  border: 4px #B26925 solid;
  margin: 10px auto;
  padding: 5px;
  border-radius: 10px;
}

#total {
  height: 70px;
  width: 300px;
  margin:auto;
  background-color:white;
  color: #3799B2;
  margin-bottom: 5px;
  text-align: right;
  font-size: 60px;
  padding: 5 5px;
  border: 3px solid #B26925;
  border-radius: 5px;
}

#numbers, #operators {
  margin: auto;
}

#operators a {
  display: block;
  width: 45px;
  height: 45px;
  float: left;
  text-decoration: none;
  color: #3799B2;
  text-align: center;
  font-size: 39px;
  padding: 2px;
  margin: 5px 6px;
  background-color: #B26925;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);*/
  border-radius: 10px;
}

#numbers a {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
  text-decoration: none;
  color: #3799B2;
  text-align: center;
  font-size: 32pt;
  padding: 10px;
  margin: 5px 15px;
  background-color: #FFBD80;
/*  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);*/
border-radius: 10px;
}